@import "../../mixins.scss";

.button {
    @include button-style;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: 250px;
  }

  .button:hover { @include button-hover;}

  .button:focus {outline:0;}
  
  .button:active {
    background-color: $primary-color;
    box-shadow: $box-shadow;
    transform: translateY(4px);
  }
