@import "../../mixins.scss";

.card-listings {
    flex-wrap: wrap;
    justify-content: flex-start;
  
  .card {
    border: 2px solid whitesmoke;
    flex-direction: column;
    flex: 0 1 calc(100% - 1em);
    justify-content: space-between;
    line-height: 0;

    li {
        list-style-type: none;
        padding: 20px;
    }

    img {
      width: 100%; 
      height: auto;
      vertical-align:bottom;
      transition: transform .2s
    }
  }
  @media only screen and (min-width: 600px) {
    .card {
      max-width: 1334px;
      padding: 10px;
      flex-flow: row wrap; 
      display: flex;
      margin: 0 auto;

      li{
        -webkit-box-flex: auto;
        -ms-flex: auto;
        flex: auto;
        width: 200px;
        margin: 35px;
        padding: 0;

        img {
          transition: transform .2s
        }
        img:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
