.card-listings {
    flex-wrap: wrap;
    justify-content: flex-start;
  
  .card {
    border: 2px solid whitesmoke;
    flex-direction: column;
    flex: 0 1 calc(100% - 1em);
    line-height: 0;
    justify-content: space-between;

    .card-image {
        list-style-type: none;
        padding: 20px;
    }

    img {
      height: auto;
      vertical-align:bottom;
      width: 100%; 
    }
  }
  @media only screen and (min-width: 600px) {
    .card {
      display: flex;
      flex-flow: row wrap; 
      max-width: 1334px;
      margin: 0 auto;
      padding: 10px;

      .card-image{
        flex: auto;
        -webkit-box-flex: auto;
        -ms-flex: auto;
        margin: 35px;
        padding: 0;
        transition: transform .2s;
        width: 200px;
      }
      .card-image:hover{
        cursor: pointer;
        transform: scale(1.1);
      }
    }
  }
}
