@font-face {
    font-family: 'GothamBold';
    src: url('./assets/fonts/GothamBold.otf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'GothamBook';
    src: url('./assets/fonts/GothamBook.ttf') format('truetype');
}

$white: #fff;
$black: #000;

