@import url('https://fonts.googleapis.com/css?family=Chewy|Poiret+One&display=swap');

$primary-color: #ee447d;
$primary-font: 'Chewy','Chewy', cursive, sans-serif, Helvetica;
$secondary-font: 'Poiret One', 'sans-serif', 'Helvetica';
